body{
 
     padding-right: 5px;
     padding-left: 5px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
  
 }

button{
    background-color: red;
    size: 3rem;
    border: 2px solid gray;
    border-radius: 10px;
     cursor: pointer;
}
button:hover{
    background-color: beige;
    font: 700;
    color: black;
}
#canvas{
 background-color: rgb(255, 255, 255);
}
.controler{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    padding:15px 0px 15px 0px;
    position: absolute;
    border: 2px solid rgb(157, 149, 149);
    border-radius: 10px;
}



.cover{
display: flex;
justify-content: center;
align-items: center;
 width: 100vw;
 height: 100vh;
 backdrop-filter: blur(10px);
 position: absolute;
 z-index: 50;
}

.card{
    backdrop-filter: blur(10px);
    background-color: rgb(231, 238, 244);
}

